extends layout

block content
  h1 Accomodation
  p
    | Since most of you will be traveling from out of town, here are some recommended places and
    | areas to stay.
  h2
    a(href='http://www.millenniumhotels.com/usa/millenniumbroadwaynewyork/')
      | Millennium Broadway Hotel New York
  p
    | We've had out-of-town guests stay here in the past and they've recommended it. It's in the
    | middle of Times Square which is probably the most convenient area to stay as a visitor to New
    | York. Unfortunately, it's also one of the most popular areas to stay so it's relatively
    | expensive. Expect to pay $300/night and up, but sometimes you might find a deal for around $200.
  h2
    a(href='http://www.hotelpenn.com/en/')
      | Hotel Pennsylvania
  p
    | This probably isn't as nice as the Millennium, but it's a little cheaper and located directly
    | across from Penn Station so it's very convenient. Expect to pay $180/night and up.
  h2
    a(href='http://www.riversidetowerhotel.com')
      | Riverside Tower Hotel
  p
    | This is a no-frills hotel on the Upper West Side just blocks from our apartment. The rooms
    | are tiny, but the price is good starting at $134/night.
  h2
    a(href='http://www.thejanenyc.com/')
      | The Jane Hotel
  p
    | This is another low-priced hotel with tiny rooms. The smaller-sized rooms do not have private
    | bathrooms. Instead there are communal bathrooms on each floor. What it lacks in size is
    | made up for the fantastic West Village location. Prices start at $145/night.
  h2 Anywhere in Long Island City
  p
    | If Riverside Tower or The Jane are too small for you, but you like the price, look in Long
    | Island City. LIC is a neighborhood in Queens with good access to Manhattan. You'll find all
    | the standard chains like Holidy Inn, Comfort Inn, Fairfield Inn, Ramada, Best Western,
    | and more. Just 
    a(href='http://www.kayak.com/hotels/Long-Island-City,NY-c207/2014-10-10/2014-10-12')
      | search for hotels in Long Island City
    |  and you'll be sure to find something. Expect to pay between $150&ndash;180/night.
  h2
    a(href='http://hinewyork.org')
      | Hostelling International New York
  p
    | This is, of course, the cheapest option. It's located near us on the Upper West Side and has
    | excellent reviews. Prices start at $49/night per person. Perfect if you're travelling alone
    | and don't want to go broke visiting New York City.
