extends layout

block content
  h1 Contact
  p
    | If you have any questions about our wedding or want to contact us for any other reason (like
    | you&rsquo;ve gotten yourself lost in New York) here how to contact us.
  h2 Adeline
  table
    tr
      th Phone
      td
        a(href='tel:5189286676') 518-928-6676
    tr
      th Email
      td
        a(href='mailto:addieshultis@gmail.com') addieshultis@gmail.com
  h2 Nathan
  table
    tr
      th Phone
      td
        a(href='tel:6163048379') 616-304-8379
    tr
      th Email
      td
        a(href='nathan.bryan@gmail.com') nathan.bryan@gmail.com
  h2 Mailing Address
  p
    | Nathan Bryan and Adeline Shultis<br>326 W 83rd St<br>Apt 1B<br>New York, NY 10024
