extends layout

block content
  h1 Wedding Weekend Events
  h2 Rehearsal
  p.time Friday, October 10, 5:00 pm (wedding party only)
  p
    | This is at 
    a(href='http://www.centralparknyc.org/things-to-see-and-do/attractions/summit-rock.html') Summit Rock
    | , the same location as the wedding. See below for 
    a(href='http://maps.apple.com?q=40.783050,-73.969995&ll=40.783050,-73.969995&z=18') directions
    | .
  h2 Rehearsal Dinner
  p.time 6:30 pm (wedding party only)
  p
    | The rehearsal dinner is at 
    a(href='http://kefirestaurant.com') Kefi
    | , one of our favorite restaurants. It&rsquo;s just a short walk from Summit Rock over to 
    a(href='http://maps.apple.com?q=Kefi&sll=40.785247,-73.972665&z=18') 84th and Columbus
    | .
  h2 Pre-Wedding Coffee and Donuts
  p.time Saturday, October 11, 9:45&ndash;10:30 am
  p
    | Pre-wedding coffee and donuts! Come early to 
    a(href='http://www.centralparknyc.org/things-to-see-and-do/attractions/summit-rock.html') Summit Rock
    |  and enjoy coffee, juice and donuts and enjoy the each others company. The bride won't show up until 10:30, but
    | her nephews and niece will make sure you get plenty to eat and drink.
  p
    | By subway, take the 
    span.train.sixth B
    |  or 
    span.train.eighth C
    |  train to 
    strong 81st Street
    |  or take the 
    span.train.seventh 1
    |  train to 
    strong 79th Street
    |  and walk a few blocks. By 
    span.taxi taxi
    |  go to 
    strong 81st Street and Central Park West
    | .
  p
    | Enter the park at the northeast corner of 81st Street and Central Park West. Follow the path to the left up to
    | Summit Rock. 
    a(href='http://maps.apple.com?q=40.783050,-73.969995&ll=40.783050,-73.969995&z=18') Here&rsquo;s a map
    | .
  h2 Wedding Ceremony
  p.time 10:30 am
  p
    | We&rsquo;ll keep it short and sweet.
  h2 Reception
  p.time 12:00 pm
  p
    | We&rsquo;ll all convene at 
    a(href='http://bobonyc.com/') Bobo
    | , a French restaurant in the West Village. There will be plenty of food and lots of drinks and some amazing cake
    | at the end. Bobo is located in a lovely old townhouse that will make you wish you lived there.
  p
    | From Summit Rock, take the 
    span.train.sixth B
    |  or 
    span.train.eighth C
    |  train to 
    strong West 4th Street
    |  or take the 
    span.train.seventh 1
    |  train to 
    strong Christopher Street
    | . By 
    span.taxi taxi
    | , go to 
    strong West 10th Street and 7th Avenue.
  p
    | Bobo is located at 181 W 10th Street on the northwest corner of West 10th Street and 7th Avenue. 
    a(href='http://maps.apple.com?lsp=6489&sll=40.734955,-73.998896&q=101%20W%2010th%20St,%20New%20York,%20NY%20%2010011-8393,%20United%20States') Here&rsquo;s a map
    | .
  h2 Rooftop Cocktail After Party
  p.time 8:30 pm &ndash; 10:30 pm
  p
    | The late-night party. You didn&rsquo;t think there would be only 
    em one
    |  party did you? Join us for cocktails at 
    a(href='http://addisongroupnyc.com/venues/monarch/') Monarch Rooftop Lounge
    | . Tell the doorman you&rsquo;re there for the Shultis/Bryan wedding party. Cocktail attire 
    em is
    |  required. Ladies, that means it&rsquo;s time to break out your little black (or red, blue, or
    | whatever) dress! Guys, make the ladies proud: no ripped/ugly jeans, t-shirts, or athletic wear.
  p
    | Take the 
    span.train.sixth B
    |  
    span.train.sixth D
    |  
    span.train.sixth F
    |  
    span.train.sixth M
    |  
    span.train.broadway N
    |  
    span.train.broadway R
    |  or  
    span.train.broadway Q
    |  to 
    strong 34th Street &ndash; Herald Square
    | . If you have a good sense of direction try to exit at the north end of the station. Once
    | above ground head to 
    strong
      a(href='http://maps.apple.com?lsp=6489&sll=40.750348,-73.986599&q=71%20W%2035th%20St,%20New York,%20NY%2010001') 71 W. 35th Street
    | . By 
    span.taxi Taxi
    |  tell the driver to go to 
    strong 6th Avenue and 35th Street
    | .
  p
    | After 10:30 pm those who want to keep the party going are welcome to join us as we head downtown.
  h2 Sunday Brunch
  p.time Sunday, October 12, 10:00 am &ndash; 2 pm
  p
    | Morning after brunch at our apartment. Please swing by our apartment for bagels from neighborhood institution 
    a(href='http://www.zabars.com') Zabar&rsquo;s
    |  as well as sangria, coffee, and maybe&mdash;if the bride&rsquo;s father hasn&rsquo;t eaten it all&mdash;leftover
    | cake.
  p
    | Take 
    span.train.seventh 1
    |  train to 
    strong 79th Street
    |  or take the 
    span.train.sixth B 
    |  or 
    span.train.eighth C 
    |  train to 
    strong 81st Street
    |  and the walk to our apartment at 
    strong 326 W 83rd St
    | , Apt 1B. By 
    span.taxi taxi
    | , go to 
    strong 83rd Street and West End Avenue
    | . 
    a(href='http://maps.apple.com?q=326%20W%2083rd%20St,%20New%20York,%20NY%20%2010024-4813,%20United%20States&z=18') Here&rsquo;s a map
    | .
