extends layout

block content
  h1 Wedding Weekend Events
  h2 Rehearsal
  p.time Friday, October 10, 5:00 pm (wedding party only)
  p
    | This is at 
    a(href='http://www.centralparknyc.org/things-to-see-and-do/attractions/summit-rock.html') Summit Rock
    | , the same location as the wedding. See below for 
    a(href='http://maps.apple.com?q=40.783050,-73.969995&ll=40.783050,-73.969995&z=18') directions
    | .
  h2 Rehearsal Dinner
  p.time 6:30 pm (wedding party only)
  p
    | The rehearsal dinner is at 
    a(href='http://kefirestaurant.com') Kefi
    | , one of our favorite restaurants. It&rsquo;s just a short walk from Summit Rock over to 
    a(href='http://maps.apple.com?q=Kefi&sll=40.785247,-73.972665&z=18') 84th and Columbus
    | .
  h2 Pre-Wedding Coffee and Donuts
  p.time Saturday, October 11, 9:30&ndash;10:30 am
  p
    | Pre-wedding coffee and donuts! Come early to 
    a(href='http://www.centralparknyc.org/things-to-see-and-do/attractions/summit-rock.html') Summit Rock
    |  and enjoy coffee, juice and donuts and enjoy the each others company. The bride won't show up until 10:30, but
    | her nephews and niece will make sure you get plenty to eat and drink.
  p
    | By subway, take the 
    span.train.sixth B
    |  or 
    span.train.eighth C
    |  train to 
    strong 81st Street
    |  or take the 
    span.train.seventh 1
    |  train to 
    strong 79th Street
    |  and walk a few blocks. By 
    span.taxi taxi
    |  go to 
    strong 81st Street and Central Park West
    | .
  p
    | Enter the park at the northeast corner of 81st Street and Central Park West. Follow the path to the left up to
    | Summit Rock. 
    a(href='http://maps.apple.com?q=40.783050,-73.969995&ll=40.783050,-73.969995&z=18') Here&rsquo;s a map
    | .
  h2 Wedding Ceremony
  p.time 10:30 am
  p
    | We&rsquo;ll keep it short and sweet.
  h2 Reception
  p.time 12:00 pm
  p
    | We&rsquo;ll all convene at 
    a(href='http://bobonyc.com/') Bobo
    | , a French restaurant in the West Village. There will be plenty of food and lots of drinks and some amazing cake
    | at the end. Bobo is located in a lovely old townhouse that will make you wish you lived there.
  p
    | From Summit Rock, take the 
    span.train.sixth B
    |  or 
    span.train.eighth C
    |  train to 
    strong West 4th Street
    |  or take the 
    span.train.seventh 1
    |  train to 
    strong Christopher Street
    | . By 
    span.taxi taxi
    | , go to 
    strong West 10th Street and 7th Avenue.
  p
    | Bobo is located at 181 W 10th Street on the northwest corner of West 10th Street and 7th Avenue. 
    a(href='http://maps.apple.com?q=Bobo&sll=40.734473,-74.002617&z=18') Here&rsquo;s a map
    | .
  h2 After Party
  p.time 8:00 pm &ndash; whenever
  p
    | The late-night party. You didn&rsquo;t think there would be only 
    em one
    |  party did you? The rooftop bar is yet to be chosen but (we&rsquo;ll let everyone as soon as possible) but
    | drinks, snacks, dancing, and music are a go.
  h2 Sunday Brunch
  p.time Sunday, October 12, 10:00 am &ndash; whenever
  p
    | Morning after brunch at our apartment. Please swing by our apartment for bagels from neighborhood institution 
    a(href='http://www.zabars.com') Zabar&rsquo;s
    |  as well as sangria, coffee, and maybe&mdash;if the bride&rsquo;s father hasn&rsquo;t eaten it all&mdash;leftover
    | cake.
  p
    | Take 
    span.train.seventh 1
    |  train to 
    strong 79th Street
    |  or take the 
    span.train.sixth B 
    |  or 
    span.train.eighth C 
    |  train to 
    strong 81st Street
    |  and the walk to our apartment at 
    strong 326 W 83rd St
    | , Apt 1B. By 
    span.taxi taxi
    | , go to 
    strong 83rd Street and West End Avenue
    | . 
    a(href='http://maps.apple.com?q=q=326%20W%2083rd%20St,%20New%20York,%20NY%20%2010024-4813,%20United%20States&z=18') Here&rsquo;s a map
    | .
