extends layout

block content
  h1 Wedding Weekend Events
  h2 Ceremony
  p
    | The ceremony will take place on Saturday October 11 at 10:30 a.m. and will take place at 
    a(href='http://www.centralparknyc.org/things-to-see-and-do/attractions/summit-rock.html') Summit Rock
    |  in 
    a(href='http://www.centralparknyc.org/') Central Park
    | .
  p
    | By subway, take the 
    span.train.sixth B
    |  or 
    span.train.eighth C
    |  train to 
    strong 81st Street
    |  or take the 
    span.train.seventh 1
    |  train to 
    strong 79th Street
    | . By 
    span.taxi taxi
    |  go to 
    strong 81st Street and Central Park West
    | . You may also take the M79 (crosstown) or M10 (up/downtown) bus.
  p Enter the park at the northeast corner of 81st Street and Central Park West. Follow the path to the left up to Summit Rock.
  .map
     iframe(src='https://www.google.com/maps/embed/v1/place?q=Summit%20Rock%2C%20Central%20Park%20West%2C%20New%20York%2C%20United%20States&key=AIzaSyDyiX3QD9gMuieHbvQK3g13Xq2U-h4g9ZI')

  h2 Reception
  p
    | A reception will follow at 12:00 p.m. at 
    a(href='http://bobonyc.com/') Bobo
    |  in the West Village.
  p
    | From Summit Rock, take the 
    span.train.sixth B
    |  or 
    span.train.eighth C
    |  train to 
    strong West 4th Street
    |  or take the 
    span.train.seventh 1
    |  train to 
    strong Christopher Street
    | . By 
    span.taxi taxi
    | , go to 
    strong West 10th Street and 7th Avenue.
  p
    | Bobo is located at 181 W 10th Street on the northwest corner of West 10th Street and 7th Avenue.
  .map
    iframe(src='https://www.google.com/maps/embed/v1/place?q=Bobo%2C%20West%2010th%20Street%2C%20New%20York%2C%20NY%2C%20United%20States&key=AIzaSyDyiX3QD9gMuieHbvQK3g13Xq2U-h4g9ZI')
  h2 After Party
  p
    | There will be an after party starting in the evening around 8 p.m. Location TBD.
  h2 Sunday Brunch
  p
    | Those of you still in town are invited join us at our apartment at 10 a.m. for bagels and orange juice from
    | our beloved Upper West Side institution 
    a(href='http://www.zabars.com') Zabar&rsquo;s
    | .
  p
    | The best way to get to our apartment is to take the 
    span.train.seventh 1
    |  train to 
    strong 79th Street
    |  or take the 
    span.train.sixth B 
    |  or 
    span.train.eighth C 
    |  train to 
    strong 81st Street
    |  and the walk to our apartment at 
    strong 326 W 83rd St
    | , Apt 1B. By 
    span.taxi taxi
    | , go to 
    strong 83rd Street and West End Avenue
    | .
  .map
    iframe(src='https://www.google.com/maps/embed/v1/place?q=326%20West%2083rd%20Street%2C%20New%20York%2C%20NY%2C%20United%20States&key=AIzaSyDyiX3QD9gMuieHbvQK3g13Xq2U-h4g9ZI')
