extends layout

block content
  h2 Ceremony
  p.when Saturday, 11:00 a.m.
  p.where Summit Rock, Central Park
  h2 Reception
  p.when Saturday, 12:00 p.m.
  p.where Bobo, West Village
  //h2 Afterparty
  h2 The Following Morning
  p.when Sunday, 10:00 a.m.
  p.where Our Apartment, Upper West Side
