extends layout

block content
  p
    | Hey all, we're busy getting this site together. Check back around May 1 and we'll have info on accomodations,
    | things to do, wedding schedule, and anything else you might want to know. If you have any questions before then,
    | email 
    a(href='mailto:nathan.bryan@gmail.com') Nathan
    |  or 
    a(href='mailto:addieshultis@gmail.com') Adeline
    |  and we'll be happy to help!
  //h2 Ceremony
  //p.when Saturday, 11:00 a.m.
  //p.where Summit Rock, Central Park
  //h2 Reception
  //p.when Saturday, 12:00 p.m.
  //p.where Bobo, West Village
  //h2 Afterparty
  //h2 The Following Morning
  //p.when Sunday, 10:00 a.m.
  //p.where Our Apartment, Upper West Side
