extends layout

block content
  h1 Welcome to the Shultis-Bryan Wedding Website
  p
    | Welcome to our wedding website!  We hope it will be useful to you as you plan your visit. We are so excited that
    | you will be celebrating our marriage with us and can't wait to welcome you to this crazy city we love and call
    | home. Thank you for being a part of this special occasion.
  p
    | Take a look around the site as we have included information that should help you plan your trip and, once here,
    | make the most of your time in the city.  We have included information about the 
    a(href='events') weekend events
    |  we have planned, 
    a(href='accomodation') accommodation
    | , 
    a(href='transportation') transportation
    | , recommendations for things to eat, see and do here, timelines, dress suggestions, and much more.
  p
    | If you have questions you don't find the answers to here please don't hesitate to contact us! We are more than
    | happy to help with suggestions and information. Contact Adaline at 
    a(href='mailto:addieshultis@gmail.com') addieshultis@gmail.com
    |  or 
    a(href='tel:5189286676') (518) 928-6676
    |  and Nathan at 
    a(href='mailto:nathan.bryan@gmail.com') nathan.bryan@gmail.com
    |  or 
    a(href='tel:6163048379') (616) 304-8359
    | .
