extends layout

block content
  h1 Welcome to the Shultis-Bryan Wedding Website
  img(src='/images/happy_couple.jpg' alt='The Happy Couple')
  h2 Saturday, October 11, 2014
  p Summit Rock, Central Park