doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='/stylesheets/reset.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/application.css')
  body
    #content
      block content
