doctype html
html
  head
    title= title
    //link(rel='stylesheet', type='text/css', href='/stylesheets/reset.css')
    //link(rel='stylesheet', type='text/css', href='/stylesheets/screen.css')
  body
    #content
      h1 Shultis-Bryan Wedding
      block content
