extends layout

block content
  h1 Our Registry
  p
    | Is there a good way to ask for money? No, no there is not, 
    em however...
  p
    | As New Yorkers with very limited space (which you will see Sunday the 12th) we have little room for traditional
    | home goods. We prefer to collect passport stamps instead. We doubt you&rsquo;ll want to schlep gifts on the
    | subway anyway.
  p
    | We are saving towards a honeymoon trip to Africa and will gratefully put any wedding gifts received towards our
    | first (but hopefully not last) married adventure.
  p
    | If a cash gift isn&rsquo;t your thing, see our 
    a(href='https://secure.williams-sonoma.com/registry/jcl7vss8hk/registry-list.html') registry at Williams-Sonoma
    |  or 
    a(href='http://www.amazon.com/registry/wishlist/1J5EMBCK1X8R5/ref=cm_sw_r_tw_ws_d0B1tb1R56XFM') our Amazon wishlist
    |  for items we do need.
