extends layout

block content
  h2 RSVP
  p
    | We hope you can join us for our wedding! Please 
    a(href='https://docs.google.com/forms/d/1kVYacix2SY34De20xJOaIsaYq87K0o2t1UPDxGqzN_A/viewform?usp=send_form')
      | let us know if you plan to attend by filling this form
    | . Or you can 
    a(href='/contact') email us
    |  with your answers.
