extends layout

block content
  h1 Transportation
  p You'll probably be flying into one of the three major New York airports: Newark, JFK, or LaGuardia. Getting in and around the city from each is pretty easy.
  h2 Newark Liberty International Airport
  p
    | Newark is probably the least bad airport serving New York City. The best way to get into Manhattan is via train. Take the 
    a(href='http://www.panynj.gov/airports/ewr-to-from.html') AirTrain
    |  to Newark Libery Airport Station and catch a New Jersey Transit train headed for New York Penn Station. It will cost $12.50.
  p
    | There are also buses running regularly from the airport to Manhattan for $16 each way. You may also take a 
    span.taxi taxi
    | , but expect the fare to be around $70 after tolls and tip. More info for transportation from Newark is available 
    a(href='http://www.panynj.gov/airports/ewr-public-transportation.html') here
    | .
  h2 John F. Kennedy International Airport
  p
    | If you're flying into JFK your best bet is to take the 
    a(href='http://www.panynj.gov/airports/jfk-airtrain.html') AirTrain
    |  to Jamaica Station. It'll cost $5 and then you have two options to get into Manhattan:
  ol
    li
      | Take the Long Island Rail Road to Penn Station. It'll cost either $7.00 or $9.50 depending on the time of day.
    li
      | Take the 
      span.train.eighth E
      |  train if you're going to midtown, or the 
      span.train.jay-z J
      |  or 
      span.train.jay-z Z
      |  if you're going to lower Manhattan. A single ride will cost $2.50.
  p
    | Buses to Manhattan run every 30 minutes from JFK and cost $16. You may also take a 
    span.taxi Taxi
    |  to Manhattan for a flat fare of $52 plus tolls and tip. More info for transportation form JFK is available 
    a(href='http://www.panynj.gov/airports/jfk-public-transportation.html') here
    |  .
  h2 LaGuardia Airport
  p
    | LaGuaria is the worst airport in New York. But, if you must fly there, Buses to Manhattan run every 30 minutes and cost $13. If you're not travelling alone, your best bet is to take a 
    span.taxi taxi
    |  into Manhattan for around $35 plus tolls and tip. More info for transportation from LaGuardia is available 
    a(href='http://www.panynj.gov/airports/lga-ground-transportation.html') here
    | .
  h2 Getting Around Town
  p
    | Once you're in the city the best way to get around is via the subway. First, you'll need a 
    a(href='http://web.mta.info/metrocard/') MetroCard
    |  which costs $1 from vending machines in any subway station. You then need to decide whether you want to pay per ride or get an unlimited card.
  p
    | A 7-day unlimited card costs $30 whereas and is worthwhile if you plan to take at least 13 rides. Keep in mind you can't swipe your card at the same station twice within 18 minutes, so if you're traveling with other people you'll all each need your own unlimited card.
  p
    | Single rides cost $2.50, but you get a 5% bonus on any cash you put on the card. Put $11.90 on your card to get exactly five rides. Pay per ride cards may be swiped as many times as you wish so long as there is sufficient fare on the card so you may share a card if you're traveling with other people.
  p
    | MetroCards also work on buses, and transfers between the bus and subway are free.
  p
    | Taxis are a more expensive way to get around, but are often quicker. If you're traveling in a group a taxi may be cost-effective.
