body {
  background: #fff;
  color: #333;
/*  font: 16px/1.5 'Baskerville', 'Georgia', serif;*/
/*  font: 16px/1.5 'Futura', 'Helvetica', 'Arial', sans-serif;*/
  font: 16px/1.5 'Times New Roman', serif;
  font-weight: 200;
}

h1, h2, h3, nav {
  font-family: 'Futura', 'Helvetica', 'Arial', sans-serif;
}

a {
  color: #2a0d45;
}

ol {
  list-style-type: decimal;
}

p, li {
  margin: 16px auto;
}

#page {
  margin: 0 auto;
  max-width: 960px;
}

#page-header img {
  width: 100%;
  height: auto;
}

#content-wrapper {
  padding: 0 10px;
}

#page-footer {
  clear: both;
  color: #ccc;
  font-size: 12px;
}

#left-column {
  float: left;
  width: 25%;
}

nav {
  color: #777;
/*  float: left;*/
  font-size: 18px;
/*  width: 25%;*/
}

nav ul ul {
  margin-left: 20px;
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav a:hover {
  color: #2a0d45;
  text-decoration: underline;
}

#left-column img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
  height: auto;
}

#content {
  float: right;
  width: 70%;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  margin: 24px auto;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 16px auto;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

table {
  width: 100%;
}

th {
  font-weight: 600;
  text-align: left;
  width: 15%;
}

td {
  text-align: left;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

p.time {
  margin-top: -1em;
  font-style: italic;
}

.train {
  color: #fff;
  background: #808183;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 500;
  display: inline-block;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  text-align: center;
}

.train.broadway {
  background: #fccc0a;
  color: #000;
}

.train.sixth {
  background: #ff6319;
}

.train.seventh {
  background: #ee352e;
}

.train.eighth {
  background: #2850ad;
}

.train.jay-z {
  background: #996633;
}

.taxi {
  color: #000;
  background: #f7b731;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 500;
  display: inline-block;
  border-radius: 4px;
  height: 24px;
  padding: 0 4px;
  text-transform: uppercase;
}

.map {
  margin-bottom: 16px;
  height: 300px;
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}